.picture {
  height: 200px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: transparent;
  box-shadow: 5px 10px 18px #888888;
}
.profile {
  height: 200px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: transparent;
  box-shadow: 5px 10px 18px #888888;
}
.info {
  height: 350px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: transparent;
  box-shadow: 5px 10px 18px #888888;
}
#userprofile {
  height: 100vh;
  width: 100vw;
}
img {
  width: 120%;
  margin: auto;
  position: relative;
  left: -9%;
  height: 100%;
  border-radius: 15px;
}
#infoBox {
  /* background-color: red; */
  height: 100%;
  width: 70%;
  float: left;
}
#editBox {
  /* background-color: yellow; */
  float: right;
  width: 30%;
  height: 100%;
}
#myBtn {
  margin: auto;
  float: right;
  position: relative;
  top: 85%;
}
#profilecontainer {
  margin: auto;
  top: 20%;
  left: -20%;
  width: 70%;
  position: relative;
  padding: 10px;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  border-color: transparent;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
