.profileToEdit {
  height: 380px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: transparent;
  box-shadow: 5px 10px 18px #888888;
}
.profileInputs {
  margin: auto;
  position: relative;
  left: 10%;
  top: 2%;
  width: 50%;
}
label {
  color: white;
  font-size: 30px;
}
input {
  border-radius: 8px;
  background-color: transparent;
  color: white;
}
#saveButton {
  position: relative;
  margin: auto;
  left: 90%;
  top: 8%;
}
::placeholder {
  color: white;
}
